<div class="gtco-loader"></div>

<div id="page">

    <nav class="gtco-nav" role="navigation">
        <div class="container">
            <div class="row">
                <div class="col-sm-2 col-xs-12">
                    <div id="gtco-logo"><a href="/">UNL</a></div>
                </div>

                <div style="text-align: right">
                    <ul>
                        <li><a href="#" data-toggle="modal" data-target="#exampleModal">Informacion</a></li>
                        <li><a href="#gtco-about" data-nav-section="about">Acerca</a></li>
                        <li><a href="#gtco-contact" data-nav-section="our-team">Contactenos</a></li>
                        <li class="btn-cta"><a href="#" data-toggle="modal" data-target="#modalLoggin"><span>Iniciar Sesion</span></a></li>
                        <!-- For external page link -->
                        <!-- <li><a href="http://freehtml5.co/" class="external">External</a></li> -->
                    </ul>
                </div>

            </div>

        </div>
    </nav>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title" id="exampleModalLabel">Funcionamiento del Kardex</h3>
                </div>
                <div class="modal-body" style="text-align: justify">                    
                    El kardex es un registro estructurado de la existencia de mercancías en un almacén o empresa. 
                    Este documento es de tipo administrativo y se crea a partir de la evaluación del inventario registrando la cantidad de bienes, 
                    el valor de medida y el precio por unidad, para posteriormente clasificar los productos de acuerdo con las similitudes de sus 
                    propiedades.
                    <br>
                    <img src="https://www.siigo.com/wp-content/uploads/2018/02/Infograf%C3%ADas-pesp.jpg" class="img-responsive">
                        
                   
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <section id="gtco-hero" class="gtco-cover" style="background-image: url(/images/fondos/principal.jpg);"  data-section="home"  data-stellar-background-ratio="0.0">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-md-offset-0 text-center">
                    <div class="display-t">
                        <div class="display-tc">
                            <h1 class="animate-box" data-animate-effect="fadeIn">ZONA WIFI </h1>
                            <p class="gtco-video-link animate-box" data-animate-effect="fadeIn"><a href="https://www.youtube.com/watch?v=9yCvKWzhfxg" class="popup-vimeo"><i class="icon-controller-play"></i></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section id="gtco-about" data-section="about">

        <div class="container">
            <div class="row row-pb-md">
                <div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
                    <h1>Proyecto desarrollado por estudiantes de la Universidad Nacional de Loja</h1>
                    <p class="sub">EL presente proyecto fue desarrollado  por  tres estudiantes de la Universidad Nacional de Loja , con el fin de poner  en practica los conocientos adquiridos este ciclo Académico , de esta forma se conseguirá adquirir experiencia  necesaria , para nuestro futuro desempeño laboral como Ingenieros en Sistemas.</p>
                    <p class="subtle-text animate-box" data-animate-effect="fadeIn">BIENVENIDO</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-pull-1 animate-box" data-animate-effect="fadeInLeft">
                    <div class="img-shadow">
                        <img src="/images/fondos/unlLogo.png" style="margin-top: 38px; margin-left: 50px" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
                    </div>
                </div>
                <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                    <h2 class="heading-colored">Universidad Nacional de Loja</h2>

                    <p class="sub" style="text-align: justify">Formar académica y profesionalmente, con sólidas bases científicas y técnicas, pertinencia social y valores; la generación y aplicación de conocimientos científicos, tecnológicos y técnicos; para el desarrollo integral del entorno y al avance de la ciencia; el fortalecimiento del pensamiento, la promoción, desarrollo y difusión de los saberes y culturas; y, la prestación de servicios especializados..</p>

                </div>
            </div>
        </div>
    </section>








    <section id="gtco-contact" data-section="contact">
        <div class="container">
            <div class="row row-pb-md">
                <div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
                    <h1>Contactos</h1>
                    <p class="sub">En caso exista alguna Molestica Contactarse a las redes qeu existen a continuacion</p>
                    <p class="subtle-text animate-box" data-animate-effect="fadeIn">Contacto</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-push-6 animate-box">
                    <form action="/enviar" method="POST">
                        <div class="form-group">
                            <label for="name" class="sr-only">Nombre</label>
                            <input type="text" class="form-control" placeholder="Nombre" id="nombre" name="nombre" required>
                        </div>
                        <div class="form-group">
                            <label for="asunto" class="sr-only">Asunto</label>
                            <input type="text" class="form-control" placeholder="asunto" id="asunto" name="asunto" required>
                        </div>
                        <div class="form-group">
                            <label for="message" class="sr-only">Mensaje</label>
                            <textarea name="message" id="message" class="form-control" cols="30" rows="7" placeholder="Mensaje" required></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Enviar Mensaje" class="btn btn-primary">
                        </div>
                    </form>
                </div>
                <div class="col-md-4 col-md-pull-6 animate-box">
                    <div class="gtco-contact-info">
                        <ul>
                            <li class="address">Avenida Pio Jaramillo Alvarado, Loja 110103</li>
                            <li class="phone"><a href="tel://1235235598">0960131035</a></li>
                            <li class="email"><a href="#">danny.vasquez@unl.edu.ec</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>



</div>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>


<div class="modal fade" tabindex="-1" role="dialog" id="modalLoggin">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form id="formulario1"  method="POST" action="/inicio_sesion">


                    <div class="tab-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <center><h1 class="modal-title" id="Login">Inicio de Sesion</h1></center>
                        </div>
                        <div class="modal-body">

                            <div class="form-group">
                                <input  type="email" name="correo" class="form-control" id="email_modal" placeholder="Ingrese el correo">
                            </div>
                            <div class="form-group">
                                <input type="password"  name="contra" class="form-control" id="password_modal" placeholder="Ingrese la clave">
                            </div>
                            <div>
                                <p class="text-center">
                                    <button type="submit" class="btn btn-success">Iniciar sesion</button>

                                </p>
                            </div>

                            <!---al especificar en el index -->

                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>
<footer id="gtco-footer" role="contentinfo">
    <div class="container">

        <div class="row copyright">
            <div class="col-md-12">
                <p class="pull-left">
                    <small class="block">&copy; 2019 Kardex Proyect. All Rights Reserved.</small> 
                    <small class="block">Designed by <a href="https://unl.edu.ec/" target="_blank">National University of Loja</a></small>
                </p>
                <p class="pull-right">

                <ul class="gtco-social-icons pull-right">
                    <li><a href="https://twitter.com/login?lang=es"><i class="icon-twitter"></i></a></li>
                    <li><a href="https://es-la.facebook.com/"><i class="icon-facebook"></i></a></li>
                </ul>




                </p>


            </div>
        </div>

    </div>
</footer>    
