
<nav class="gtco-nav" role="navigation">
    <div class="container">
        <div class="row">
            <div class="col-sm-2 col-xs-12">
                <div id="gtco-logo"><a href="/usuario">UNL</a></div>
            </div>

            <div style="text-align: right">
                <ul>
                     <li><a href="/Clientes">Clientes</a></li>
                    <li><a href="/administracion/registrarVenta">Venta</a></li>
                    <!--AMBOS -->
                    <li><a href="/administracion/generarKardex">Generar Kardex</a></li>
                    <li><a href="/libro">Libro Diario</a> 
                   
                    

                    <li class="btn-cta"><a href="/cerrar_sesion" onclick="return confirm('¿Esta seguro de cerrar sesion?')"><span>Cerrar Sesion</span></a></li>




                </ul>
            </div>

        </div>

    </div>
</nav>

<section id="gtco-hero" class="gtco-cover" style="background-image: url(/images/fondos/usuario.jpg);"  data-section="home"  data-stellar-background-ratio="0.0">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-md-offset-0 text-center">
                <div class="display-t">
                    <div class="display-tc">
                        <h1 class="animate-box" data-animate-effect="fadeIn">USUARIO</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>
